<section id="home">
    <div id="logo">
        <img src="img/logo.png" alt="" >
    </div>
    <div id="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro saepe ut quisquam eaque praesentium adipisci iusto voluptates quasi deleniti, ad maiores amet dolor nostrum, culpa, laudantium veritatis sint incidunt. Impedit?</div>
    <div id="order">
        <a href="/menu">Order Now</a>
    </div>
</section>