<section id="menu">
    <ul>
        <div class="recipe-card">
            <img class="recipe-preview" src="img/cake1.png" alt="noodle" />
            <strong class="recipe-title">Butterscotch Cake</strong>
            <div id="size">
                <span class="recipe-level">1 Pond</span>
                <span class="recipe-level">2 Pond</span>
            </div>
            <div class="recipe-infos">
                <span>&#8377;500<p>Price</p></span>
            </div>
            <div class="rating">
                <span class="star full"></span>
                <span class="star full"></span>
                <span class="star half"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>
            <button class="recipe-start">
                Order Now
            </button>
        </div>
        <div class="recipe-card">
            <img class="recipe-preview" src="img/cake2.png" alt="noodle" />
            <strong class="recipe-title">Chocolate Cake</strong>
            <div id="size">
                <span class="recipe-level">1 Pond</span>
                <span class="recipe-level">2 Pond</span>
            </div>
            <div class="recipe-infos">
                <span>&#8377;500<p>Price</p></span>
            </div>
            <div class="rating">
                <span class="star full"></span>
                <span class="star full"></span>
                <span class="star full"></span>
                <span class="star half"></span>
                <span class="star"></span>
            </div>
            <button class="recipe-start">
                Order Now
            </button>
        </div>
        <div class="recipe-card">
            <img class="recipe-preview" src="img/cake3.png" alt="noodle" />
            <strong class="recipe-title">Strawberry Cake</strong>
            <div id="size">
                <span class="recipe-level">1 Pond</span>
                <span class="recipe-level">2 Pond</span>
            </div>
            <div class="recipe-infos">
                <span>&#8377;500<p>Price</p></span>
            </div>
            <div class="rating">
                <span class="star full"></span>
                <span class="star full"></span>
                <span class="star half"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>
            <button class="recipe-start">
                Order Now
            </button>
        </div>
        <div class="recipe-card">
            <img class="recipe-preview" src="img/cake4.png" alt="noodle" />
            <strong class="recipe-title">Vanilla Cake</strong>
            <div id="size">
                <span class="recipe-level">1 Pond</span>
                <span class="recipe-level">2 Pond</span>
            </div>
            <div class="recipe-infos">
                <span>&#8377;500<p>Price</p></span>
            </div>
            <div class="rating">
                <span class="star full"></span>
                <span class="star full"></span>
                <span class="star half"></span>
                <span class="star"></span>
                <span class="star"></span>
            </div>
            <button class="recipe-start">
                Order Now
            </button>
        </div>
        
    </ul>
</section>